{% extends 'base.html.twig' %}

{% block title %}
<p>Ajouter un produit</p>
{% endblock %}

{% block body %}

<h1>Ajouter un produit</h1> 

{{ form_start(productForm) }}
        {{ form_row(productForm.title) }}
        {{ form_row(productForm.image) }}
        {{ form_row(productForm.price) }}
        {{ form_rest(productForm) }}
        <button type="submit" class="btn">Creation produit</button>
       
    {{ form_end(productForm) }}

{% endblock %}